@font-face {
  font-family: "Nats";
  src: url("./assets/NATS-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    59deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-family: Nats;
  min-height: 100vh;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#title {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#title h1 {
  font-size: 150px;
  font-weight: bold;
  color: #14135d;
  margin: 10px;
  height: 190px;

  animation-name: fadeInFromTop;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}

#input-box {
  padding: 20px;
  display: flex;

  animation-name: fadeInFromBottom;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}

#song-input {
  font-family: Nats;
  font-size: 20px;
  background-color: #ebe8ff;
  min-width: 500px;
  border: none;
  padding-left: 20px;
  border-radius: 50px;
  outline-color: #da95ff;
}

#go-button {
  padding-left: 10px;
}

#go-button button {
  font-family: Nats;
  font-size: 20px;
  background-color: #14135d;
  color: #ebe8ff;
  border: none;
  border-radius: 50px;
  width: 45px;
}

#go-button button:hover {
  background-color: #ad8cc9;
  scale: 1.07;
  transition: all 0.5s;
}

#desc-div {
  display: flex;
  flex-direction: column;

  width: 500px;
  padding-top: 50vh;
  padding-bottom: 100px;
}

#desc-div h1 {
  align-self: center;
  font-size: 30px;
  color: #14135d;
}

#desc-div p {
  font-size: 25px;
}

.search-result:active {
  background-color: #f9f9f9;
  border-color: #14135d;
  border-width: 3px;
}

#search-results {
  padding-top: 0px;
}

#search-results-list h2 {
  margin: 0px;
  animation-name: fadeInFromBottom;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
}
