@font-face {
  font-family: "Nats";
  src: url("./assets/NATS-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background: rgb(238, 174, 202);
  background: linear-gradient(
    59deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-family: Nats;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
